<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="trace" internalLogFile="log\internal-nlog.txt">
    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Targets.Gelf" />
    </extensions>
    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="allfile" fileName="log\all-${shortdate}.log" maxArchiveFiles="7" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="dd-MM" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
        <target name="gelf" 
              xsi:type="gelf" 
              endpoint="udp://localhost:12201"
              facility="console-runner"
                  sendLastFormatParameter="true"
              maxUdpPackageSize="8192"/>
        </targets>
    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
         <logger name="*" minlevel="Trace" writeTo="gelf" />
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxLevel="Info" final="true" />
        <!-- BlackHole without writeTo -->
    </rules>
</nlog>